body{
  font-family: sans-serif;
}
#title{
  font-weight: bold;
  height:50px;
  background-color: cyan;
  text-align: center;
  padding:25px;
  font-size: 3rem;
}
#description{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
#description div{
  width:50%;
  background-color: blue;
  color:white;
  border-radius: 50%;
  text-align: center;
  padding:50px;
}
input
{
display: none;
}
label i{
  font-size: 20px;
  margin-right: 10px;
}
label:active{
  transform: scale(0.9);
}